@import '../index.scss';

#hof {
    // height: calc(100dvh - $navbarHeight);
    // background-image: url('../assets/hof_bg.jpg');
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    // padding-block: 4rem 2rem 0;
    padding-inline: 0;
    max-width: $maxWidth1;
    margin: 0 auto;

    & img{
        width: 100%;
        display: block;
        border: 3px solid var(--saddleTan);
    }
    
    & h3 {
        padding-block: 1rem;
        color: var(--whitewashedCream);
    }
    & p{
        text-align: justify;
        padding-bottom: 2rem;
        color: var(--whitewashedCream);
    }

    & swiper-container {
        background-image: url('../assets/hof_bg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        // --swiper-pagination-color: var(--mossGreen);
        --swiper-pagination-color: var(--whitewashedCream);
        // --swiper-navigation-color: var(--mossGreen);
        --swiper-navigation-color: var(--whitewashedCream);
        --swiper-navigation-size: 25px;

        & swiper-slide {
            padding: 3rem;
        }
    }
    

    @media screen and (min-width: $breakpoint2){
        background-size: 110%;
        background-position: left center;

        & swiper-container {

            --swiper-navigation-size: 40px;

            & swiper-slide {
                padding: 4rem;
    
                & .hof-slide {
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    flex: 1;
        
                    & .hof-slide-item {
                        width: 50%;
                    }
                    & .hof-slide-text {
                        // flex-basis: 100%;
                        & h3 {
                        color: var(--whitewashedCream);
                        }
                    }
                }
            }
        }
    }

}