@import '../index.scss';
  
    

.MobileMenu{
    position: relative;
    display: block;
    // display: none;

    & .dropdown {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 10px);
        text-align: center;
        background-color: var(--whitewashedCream);
        z-index: 10;
        box-shadow: 0 8px 8px var(--shadow);
        border-radius: 11px;
        overflow: hidden;
    
        & a {
            line-height: 60px;
            width: 100%;
            font-family: 'Crimson Text', serif;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--mossGreen);

        }
        
        & a:not(:last-child){
            border-bottom: 2px solid lightgrey;            
        }

        & a:last-child{
            background-color: var(--mossGreen);
            color: var(--whitewashedCream);
        }
        
    }

    @media screen and (min-width:$breakpoint2) {
        display: none !important;
    }
}