@import '../index.scss';


.modalAngeboteCard {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: 90%;
    // max-height: 170vw;
    max-height: 500vw;
    background-color: var(--whitewashedCream);
    border-radius: 1rem;
    overflow: hidden;
    outline: none;
    // border: 2px solid var(--mossGreen);
    // boxShadow: 24;

    @media screen and (min-width: 580px) {
        max-height: 820px;
    }

    & .modal-cross {
        width: 40px;
        top: 5px;
        right: 5px;
        filter: invert(90%);
        position: absolute;
        z-index: 10;
    }

    & swiper-slide {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        // padding-bottom: 16px;



        & img {
            width: 100%;
            object-fit: cover;
        }
        .inslide-container{

            height: 100%;
            // background-color: red;
            overflow: hidden;

            & h3 {
                // margin-top: 1rem;
                padding-top: 1rem;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
            }

            p {
                padding: 1rem;
                overflow-y: auto;
                text-align: justify;
                height: 80%;

                scrollbar-width: thin; /* For Firefox */
                /* scrollbar-color: transparent transparent; For Firefox */

                @media screen and (min-width: 500px) {
                    padding: 2rem 2rem 2rem 2rem;
                    // padding: 4rem 2rem;
                }
            }
        }
   }

    & swiper-container {
        --swiper-pagination-color: var(--mossGreen);
        --swiper-navigation-color: var(--mossGreen);
        --swiper-navigation-size: 25px;
        --swiper-navigation-top-offset: calc(80vw);

        @media screen and (min-width: 580px) {
            --swiper-navigation-top-offset: calc(480px); 
        }

    }


    @media screen and (orientation: landscape) and (min-width: $breakpoint2) {
        max-width: unset;
        width: 1000px;
        height: auto;
        max-height: 90%;

        & .modal-cross {
            filter: invert(46%) sepia(70%) saturate(313%) hue-rotate(50deg) brightness(96%) contrast(86%);
        }

        & swiper-slide {
            flex-direction: row;
            align-items: center;
            gap: 3rem;
            // background-color: red;

            padding: 4rem;

            & img {
                width: 50%;
            }

            & .inslide-container{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & p {
                    height: auto;
                    padding: 0;
                }
            }
        }

        swiper-container {
            --swiper-navigation-top-offset: 50%;
        }
    }
}

