@import '../index.scss';



.nav {
    box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.16);
    height: $navbarHeight;
    font-size: 16px;
    text-align: center;
    z-index: 100;

    & .nav-inner {
        position: relative;
        // max-width: $contentWidth;
        // background-color: red;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        font-family: 'Crimson Text', serif;
        text-transform: uppercase;

        & .nav_logo {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
            gap: 7px;

            & .nav_horse_logo {
                display: inline-block;
                object-fit: scale-down;
                height: 70%;
                width: auto;
            }  
            & .nav_text_logo {
                display: inline-block;
                object-fit: scale-down;
                height: 45%;
                width: auto;
            }  
        }

        & .menus {
            display: none;
            gap: 30px;

            @media screen and (min-width: $breakpoint2) {
                display: flex;
            }

            @media screen and (min-width: $maxWidth1) {
                gap: 5vw;
            }

            & a {
                text-decoration: none;
                color: var(--mossGreen);
                transition: color 0.3s ease;
                font-weight: 600;
                &:hover{
                    color: var(--saddleTan);
                }
            }
        }

        & button {
            display: none;
            @media screen and (min-width: $breakpoint2) {
                display: block;
            }
        }

        & #hamburger {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @media screen and (min-width: $breakpoint2) {
                display: none;
            }

            & .stripe {
                height: 5px;
                width: 30px;
                background-color: var(--mossGreen);
                border-radius: 5px;
            }
        }
    }
   
}